.jour_ {
	float: left; 
	height: 25px;
	width: 25px;
	text-align: center;
	color: Black; 
	font-style: normal;
	font-size: small;
	font-family: FreeMono;
	font-weight: bold;
	border-color:Black;
	border-style:solid;
	border-width:0 0 0 1px;
}

.ligneCal {
	width: 100%;
	/* left: 0px; */
	clear: left;
}

.Agent {
	width: 300px;
	/* float: left; */
}

.matricule {
	display:none;
}
/*
 * Planning
 */ 
.CanvasCal {
	overflow-y : scroll;
	height: 500px;
	width:1030px;
}
.titreSelection {
	float: left;
	height: 25px;
	margin-top: 5px;
	width: 100%;
	}
	
.titreDate{
	float: left; 
	width: 80px; 
	text-align: right; 
	background-color: white; 
	margin-left: 30px; 
}

.lstAgent {
	overflow: hidden;
	width:200px;
	float: left
}
.identAgent {
	border-bottom:1px solid #800000;
	font-size:11px;
	height:22px;
	margin:2px 0 2px 2px;
	overflow:hidden;
	padding-top:2px;
	vertical-align:middle;
}
	
.enteteMois {
	height:25px;
	margin:0;
	width:1026px;
}
.lstJour {
	background: transparent url(../images/bgOFF.gif) repeat-x scroll left top;
	float: left;
	border-bottom:4px ridge lightgrey;
	border-right:1px solid black;
	border-top:4px ridge lightgrey;
	margin-left: 200px;
	width: 806px;
}
	
.mois {
	overflow-x: hidden;
	float: left;
	width: 806px;
}
.ligneJour1 {
	overflow : hidden;
	width: 806px;
	background-color: WhiteSmoke;
	border-bottom:2px solid #800000;
	border-right: 1px solid black;
}
.ligneJour2 {
	overflow : hidden;
	width: 806px;
	background-color: LightGrey;
	border-bottom:2px solid #800000;
	border-right: 1px solid black;
}

.page {
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#divStatut ,#divBesoin, #addBesoin, #addEquipage, #divAffectation  {
 		color: dimgray; 
 		font-weight: bold; 
 		font-size: 11px; 
 		background-color: whitesmoke; 
 		font-family: Arial;		
 		margin-left: auto;
		margin-right: auto;        
        border: 1px solid brown;
        position: absolute;
}
#divStatut ,#divBesoin, #divAffectation {
	width: 350px;
}
#divAffectation {
	width: 450px;
}

#addBesoin, #addEquipage {
        width: 250px;
}

table.formulaire {
	width: 100%
	}
	
table.formulaire th {
	color: white; 
	background-color: fireBrick;
	font-size: 14px; 
}
	
.spin {
	float: left; 
	height: 19px; 
	padding-top: 1px;
}

.inputbox {
	border: 1px solid brown;
	color: black; 
	font-size: 11px; 
	font-family: arial;
}

.button {
	color: white; 
	background-color: fireBrick; 
	font-family: arial; 
	font-weight: bold; 
	font-size: 12px;
}

table.formulaire a {
	color: firebrick;
	text-decoration: none;
}
table.formulaire a {
	color: firebrick; 
	text-decoration: none;
}

/* Pour planningMensuel.jsp */
.periode {
	left:2px;
	width:25px;
	position: absolute;
	top: 5px;
}
.weekend {
  background-color: Gainsboro;
}	
.plageDispo {
	font-size: 8px;
}
.DISPO {
	background-color: CornflowerBlue;
}
.statut {
	position: relative;
}		
html, body {
	height:100%;
}

/* Pour planningTableAjax.jsp */

.comment {
	background: url("../images/etoile.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
}  
    
#month {
    /* border: solid thin yellow; */
    width: 1060px;
    height: 100%;
    clear: both;
    position: relative;
    overflow: hidden;
}
#monthRepresentation {
    width: 870px;
    height: 100%;
    clear: both;
    /*position: absolute;*/
    overflow: scroll;
}
      
.dayRepresentation {
          /*position: absolute;*/
    border-top: solid thin Lavender;
    border-left: solid thin Lavender;
    height: 100%;
}
.dayTitle {
    height: 20px;
    z-index: 10;
}



.monthAgent {
    /*width:200px;*/
    left: 0px;
    height: 22px;
    border-bottom: Lavender dashed thin;
    text-align: left;
}
